.capa{
    width: 100vw;
    height: 18.75rem;
    background-image: url(../img/foto-capa.png);
    background-repeat: no-repeat;
    background-size: 600px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0.3rem;
    grid-row-gap: 0.3rem;
    width: 100%;
    height: 37rem;
    margin-top: 0.8rem;
    border: double 2px #000;
    margin-bottom: 0.2rem;
    text-align: center;
}

.intodution {
    grid-area: 1 / 1 / 6 / 2;
    background: red;
}

.quem-sou {
    grid-area: 1 / 2 / 3 / 3;
    background: brown;
}

.o-que-pesnso {
    grid-area: 1 / 3 / 3 / 4;
    background: blue;
}

.o-que-proponho {
    grid-area: 3 / 2 / 5 / 3;
    background: rebeccapurple;
}

.o-que-fiz{
    grid-area: 3 / 3 / 5 / 4;
    background: violet;
}
@media only screen and (min-width:600px){
    .capa{
        background-size: cover;
        height: 35rem;
    }
}