*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
@import "./colors";
@import"./header";
@import "./main";
@import "./sobre";
body{
    background-color: $fundo-padrao;
}
body{
    overflow-x: hidden;
}