@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* color primary*/
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.top {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: whitesmoke;
  background-color: #112F76;
}

.name-h1 {
  display: none;
}

.logo {
  width: 10rem;
  margin-left: 0.7rem;
}

.menu-hamburger {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu-hamburguer-elements {
  display: flex;
  width: 80%;
  height: 10vh;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.menu-hamburguer-elements li {
  list-style: none;
  font-size: 1rem;
  margin: 0.5rem 0;
  font-size: 1.4rem;
  list-style: none;
  text-transform: uppercase;
}

.menu-hamburguer-elements a {
  color: white;
  text-decoration: none;
}

.menu-hamburguer-elements a:hover {
  color: rgba(20, 20, 20, 0.8);
}

/* BOTÃO MENU HAMBURGUER */
.menu {
  background-color: #112F76;
  width: 60px;
  height: 60px;
  margin: 1rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.hamburguer {
  position: relative;
  display: block;
  background: #fff;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background: white;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

input {
  display: none;
}

/* rotação dos elementos do span */
input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

input:checked ~ .menu-hamburguer-elements {
  left: 0;
}

/* ATIVANDO O BOTÃO HAMBURGUER QUANDO O TAMANHO DA TELA ATINGIR 600PX */
@media (max-width: 600px) {
  header {
    height: 20%;
  }
  .menu-hamburguer-elements a:hover {
    color: rgb(214, 161, 214);
  }
  .menu-hamburger {
    display: flex;
    width: auto;
    flex-direction: column;
    align-self: flex-start;
    overflow: auto;
    z-index: 1;
    color: white;
  }
  .menu-hamburguer-elements {
    width: 60%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.9);
    position: fixed;
    left: -60%;
    top: 0;
    transition: left cubic-bezier(1, 0, 0, 1) 0.8s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 15vh;
    z-index: -1;
  }
  .menu {
    display: flex;
    height: 60px;
    width: 60px;
  }
  .logo {
    display: none;
  }
  .name-h1 {
    display: block;
    font-size: 1.3rem;
    position: absolute;
    top: 6%;
    left: 27%;
  }
}
.capa {
  width: 100vw;
  height: 14.5rem;
  background-image: url(../img/foto-capa.png);
  background-repeat: no-repeat;
  background-size: 600px;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  width: 100%;
  height: 5rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  margin-top: 2px;
}

.material-symbols-outlined {
  color: #fff;
  font-size: 2.6rem;
  padding: 0.5rem;
}

.card a {
  color: #fff;
  font-size: 1.4rem;
}

@media only screen and (min-width: 600px) {
  .capa {
    background-size: cover;
    height: 35rem;
  }
  .cards {
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0.7rem;
    grid-row-gap: 1rem;
  }
  .quem-sou {
    grid-area: 1/1/3/2;
    border: 0.4rem solid #112F76;
  }
  .o-que-penso {
    grid-area: 1/2/3/3;
    border: 0.4rem solid #112F76;
  }
  .o-que-proponho {
    grid-area: 3/1/5/2;
    border: 0.4rem solid #112F76;
  }
  .o-que-fiz {
    grid-area: 3/2/5/3;
    border: 0.4rem solid #112F76;
  }
  .card {
    height: 10rem;
  }
  .card .material-symbols-outlined {
    font-size: 5rem;
  }
  .card a {
    font-size: 2.2rem;
  }
}
body {
  background-color: #ccc;
}

body {
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */